@font-face {
  font-family: DragonForce;
  src: url(DragonForcE.ttf);
}
@font-face {
  font-family: Genshin;
  src: url(ja-jp.ttf);
}

body {
  font-family: Genshin;
}

.center {
  text-align: center;
  margin: auto;
  padding: 10px;
}

a {
  text-decoration: none;
  font-family: Genshin;
  font-size: 1.3em;
  color: black ;
  
}
#pageHeader {
  background-color: black;
}

#pageTitle {
  text-align: center;
  font-family: DragonForce;
  font-weight: 100;
  font-size: 4em;
  color: #fff;
}

#players {
  background-color: rgb(216, 98, 122);
}

@keyframes fire {
  0% {
    background-position: 25% 0%;
  }
  100% {
    background-position: 25% 100%;
  }
}

span.flame {
  height: 0px;
  width: 100%;
  background-image: url("flame.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fire 6s linear infinite;
}

.dragonBlock {
  display: inline-block;
  border: 2px solid red;
}

#dragons {
  overflow: auto;
  white-space: nowrap;
}



